@use '../abstracts' as *;

.vp{
    margin: 10rem 0;
    padding: 0 10rem;

    &__title{
        font-size: 5rem;
        font-weight: map-get($font-weights , heavy);
        line-height: 1.2;
        width: min(50rem, 100%);
        margin-bottom: 4rem;
    }

    &__text{
        margin-bottom: 2rem;
        width: min(70rem, 100%);
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        margin-top: 6rem;

        &__item{
            padding: 2rem;
            position: relative;
            overflow: hidden;
            z-index: 0;
            border: 1px solid $light-gray-card;

            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: -16px;
                right: -16px;
                background: $secondary-color;
                height: 32px;
                width: 32px;
                border-radius: 32px;
                transform: scale(1);
                transform-origin: 50% 50%;
                transition: transform 0.5s ease-out;
            }
            
            &:hover:before {
                transform: scale(35);
            }

            &:hover{
                span{
                    transition: all 0.3s ease-out;
                    opacity: 0.07;
                    color: $light-secondary;
                }

                h3 {
                    transition: all 0.3s ease-out;
                    color: rgba(255, 255, 255, 0.8);
                }

                p{
                    transition: all 0.3s ease-out;
                    color: $white;
                }
            }

            &__subtitle{
                margin-bottom: 3rem;
                opacity: 0.03;
                font-size: 14rem;
                font-weight: map-get($font-weights , heavy);
                position: absolute;
                top: -4rem;
                left: 5%;
            }

            &__title{
                font-size: 3rem;
                font-weight: map-get($font-weights , extra-bold);
                line-height: 1.2;
                margin-top: 6rem;
                width: 85%;

                @media screen and (max-width: 1287px){
                    font-size: 2.5rem;
                }
            }

            &__text{
                margin-top: 4rem;
                font-size: 1.6rem;
            }

            @media screen and (max-width: 1287px){
                padding: 2rem;
            }
        }
    }

    @media screen and (max-width: 935px){
        padding: 6rem;
    }

    @media screen and (max-width: 500px){
        padding: 4rem;
    }
}